@-webkit-keyframes slideDown {
  0% { transform: translateY(-30%);}
  100% { transform: translateY(0);}
}

@keyframes slideDown {
  0% { transform: translateY(-30%);}
  100% { transform: translateY(0);}
}

@-webkit-keyframes growIn {
  0% { transform: scale(0);}
  50% { transform: scale(1.2);}
  100% { transform: scale(1);}
}

@keyframes growIn {
  0% { transform: scale(0);}
  50% { transform: scale(1.2);}
  100% { transform: scale(1);}
}

@-webkit-keyframes growFade {
  0% { transform: scale(1);opacity: 0;}
  25% { transform: scale(1.2); opacity: 1;}
  75% { transform: scale(1); opacity: 0;}
  100% { transform: scale(1); opacity: 0;}
}

@keyframes growFade {
  0% { transform: scale(1);opacity: 0;}
  25% { transform: scale(1.2); opacity: 1;}
  75% { transform: scale(1); opacity: 0;}
  100% { transform: scale(1); opacity: 0;}
}

body {
	margin: 0;
}

.container {
	position: relative;
}

.header, .bg, #eraserWrapper {
  position: absolute;
}

.header {
  z-index: 10;
  top: 0px;
  left: 0px;
}

.header img {
  pointer-events: none;
}

.header #lamp.slideDown {
  animation: slideDown 0.5s linear;
}

.bg img {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.5s;
  z-index: 1;
}

.bg #bg2 {
  opacity: 0;
}

#eraserWrapper canvas {
  position: absolute;
  z-index: 22;
  top: 0px;
  left: 0px;
}

#eraserWrapper img {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  /*transform: translate(-50%, -50%);*/
  z-index: 21;
  pointer-events: none;
}

#ct:hover {
  cursor: pointer;
}

#ct img {
  position: absolute;
  width: 100%;
  animation: growFade 3s linear infinite;
  opacity: 0;
}

#ct #cta2 {
  animation-delay: 1.5s;
}

@-webkit-keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  25% {
    -webkit-transform: translateY(150px) translateX(150px);
            transform: translateY(150px) translateX(150px);
  }
  50% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  75% {
    -webkit-transform: translateY(150px) translateX(150px);
            transform: translateY(150px) translateX(150px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  25% {
    -webkit-transform: translateY(150px) translateX(150px);
            transform: translateY(150px) translateX(150px);
  }
  50% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  75% {
    -webkit-transform: translateY(150px) translateX(150px);
            transform: translateY(150px) translateX(150px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes slide-in-tls {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  25% {
    -webkit-transform: translateY(100px) translateX(100px);
            transform: translateY(100px) translateX(100px);
  }
  50% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  75% {
    -webkit-transform: translateY(100px) translateX(100px);
            transform: translateY(100px) translateX(100px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes slide-in-tls {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  25% {
    -webkit-transform: translateY(100px) translateX(100px);
            transform: translateY(100px) translateX(100px);
  }
  50% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  75% {
    -webkit-transform: translateY(100px) translateX(100px);
            transform: translateY(100px) translateX(100px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

